
/* CSS Reset */

*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
    all: unset;
    display: revert;
  }

  sub, sup {
    /* Specified in % so that the sup/sup is the right size relative to the surrounding text */
    font-size: 75%;
  
    /* Zero out the line-height so that it doesn't interfere with the positioning that follows */
    line-height: 0;
  
    /* Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
    position: relative;
  
    /* Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
    vertical-align: baseline;
  }
  
  sup {
    /* Move the superscripted text up */
    top: -0.5em;
  }
  
  sub {
    /* Move the subscripted text down, but only half as far down as the superscript moved up */
    bottom: -0.25em;
  }


/* Top Banner */

.top-banner {
    position: relative;
    color: #444728
}

.top-banner .desktop-banner-img {
    display: block;
    width: 100%;
}

.top-banner .mobile-banner-img {
    display: none;
}

.top-banner > div {
    width: 25%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 6%;
}

.top-banner > div h2 {
    margin-bottom: -10px;
}

.top-banner > div p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.25em;
    margin-top: 0px;
    letter-spacing: 1px;
    line-height: 1.5em;
}

.top-banner > div h2 {
    font-size: 2em;
}

.top-banner > div .banner-font-1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.top-banner > div .banner-font-2 {
    font-family: 'Meie Script', cursive;
}

.nowrap {
    white-space: nowrap;
}

/* Banner Button */

.top-banner > div div {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #444728;;
    margin-top: 20px;
    width: 35%;
}

.top-banner > div div h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px;
    text-align: center;
    color: #444728;
}



@media only screen and (max-width: 1660px) {
    .top-banner > div {
        width: 30%;
    }
}

@media only screen and (max-width: 1380px) {
    .top-banner > div h2 {
        font-size: 1.7em;
    }

    .top-banner > div p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    .top-banner > div div {
        width: 45%;
    }
}

@media only screen and (max-width: 900px) {
    .top-banner > div {
        left: 4%;
    }

    .top-banner > div p {
        font-size: .85em;
    }

    .top-banner > div p {
        display: none;
    }
    
    .top-banner > div div {
        width: 75%;
    }
}

@media only screen and (max-width: 700px) {
    .top-banner > div {
        width: 100%;
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        bottom: 15%;
    }

    .top-banner > div h2 {
        color: #ffffff;
        font-size: 2.5em;
    }

    .top-banner .desktop-banner-img {
        display: none;
    }
    
    .top-banner .mobile-banner-img {
        display: block;
        width: 100%;
    }

    .top-banner > div div {
        width: 40%;
        border: 2px solid #ffffff;
        background-color: rgba(255, 255, 255, .5);
        margin-top: 0px;
    }
}


/* Quick Link Buttons */

.quick-link-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.quick-link-btns a {
    border: 2px solid #000;
    padding: 15px;
    width: 24%;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
}

.quick-link-btns a h3 {
    margin: 0px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}

@media only screen and (max-width: 1210px) {
    .quick-link-btns a h3 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1060px) {
    .quick-link-btns a h3 {
        font-size: .85em;
    }
}

@media only screen and (max-width: 940px) {
    .quick-link-btns a h3 {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 860px) {
    .quick-link-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }

    .quick-link-btns a {
        width: 99%;
    }

    .quick-link-btns a:nth-of-type(odd) {
        justify-self: end;
    }

    .quick-link-btns a:nth-of-type(even) {
        justify-self: start;
    }
}

@media only screen and (max-width: 415px) {
    .quick-link-btns a h3 {
        letter-spacing: 0px;
    }

    .quick-link-btns a h3 {
        font-size: .75em;
    }
}


/* Cut Above / Seasonal Bubbles */

.cut-above {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 25px;
}

.cut-above > div:nth-of-type(1) img {
    width: 100%;
}

.cut-above > div:nth-of-type(2) {
    align-self: center;
}

.cut-above div:nth-of-type(2) .seasonal-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    align-items: center;
}

.cut-above div:nth-of-type(2) .seasonal-btns img {
    width: 75%;
}


/* Rope Divider */

.rope-divider img {
    display: block;
    margin: 50px auto;
    width: 100%;
}

/* Favorites + New */

.favorites-new {
    display: flex;
    justify-content: space-around;
}

.favorites-new img {
    width: 90%;
}

/* Headings */

.heading-txt {
    text-align: center;
    margin-bottom: 50px;
}

.heading-txt span {
    font-size: 3em;
}

.heading-font-1 {
    font-family: 'Italianno', cursive;
}

.heading-font-2 {
    font-family: 'Bebas Neue', cursive;
}


/* Product Bar */

.product-bar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 95%;
    column-gap: 45px;
    margin: auto;
}

.product-bar .product-tile {
    display: grid;
    grid-template-rows: auto 1fr;
    justify-items: center;
    padding: 15px;
}

.product-bar .product-tile:hover {
    border: 1px solid #000;
    padding: 14px;
}

.product-bar .product-tile > div:nth-of-type(1) {
    text-align: center;
}

.product-bar .product-tile p:nth-of-type(1) {
    font-family: 'Oxygen', sans-serif;
    font-size: 1.5em;
}

.product-bar .product-tile p:nth-of-type(2) {
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
}

.product-bar .product-tile img {
    width: 70%;
    justify-self: center;
    margin-bottom: 25px;
}


/* FOTM + Monthly Contest */

.fotm-contest {
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;

}

.fotm-contest > div {
    display: grid;
    grid-template-columns: auto auto;
}

.fotm-contest > div > div:nth-of-type(2) {
    margin: 25px 0 30px 25px ;
}

.fotm-contest > div > div:nth-of-type(2) span {
    font-size: 2.75em;
}

.fotm-contest > div > div:nth-of-type(2) > div {
    width: 70%;
    margin-top: 25px;
}

.fotm-contest > div > div:nth-of-type(2) > div h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}

.fotm-contest > div > div:nth-of-type(2) > div p {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.25em;
    line-height: 1.1em;
    margin-top: 20px;
}

.fotm-contest > div > div:nth-of-type(2) > div > div {
    width: 60%;
    margin: 25px auto auto auto;
}

.fotm-contest > div > div:nth-of-type(2) > div > div h3 {
    font-size: 1.25em;
}


/* CAL Pickup & Rewards */

.pickup_rewards {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.pickup_rewards > div {
    display: grid;
    grid-template-columns: auto auto;
}

.pickup_rewards > div > div h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.5em;
    line-height: 1em;
}

.pickup_rewards > div > div p {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 1.5em;
    line-height: 1.1em;
    margin-top: 20px;
}

.pickup_rewards > div > div {
    width: 70%;
    margin: 25px 0 30px 25px;
}

.pickup_rewards > div > div > a {
    display: block;
    font-family: 'Secular One', sans-serif;
    font-size: 1.25em;
    width: 60%;
    margin: 25px auto auto auto;
    padding: 12px;
    text-align: center;
}

.pickup_rewards > div > div > a:hover {
    border: 1px solid #000;
    margin: 24px auto auto auto;
}


/* Events & Blogs */

.events_blogs {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 50px;
}

.events_blogs > div {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 345px;
}

.events_blogs > div > div {
    padding: 15px 15px 5px 15px;
    border: 1px solid lightgray;
    border-top: none;
}

.events_blogs > div > div > h3 {
    font-family: 'Secular One', sans-serif;
    font-size: 1.4em;
    line-height: 1em;
    margin-top: 15px;
}

.events_blogs > div > div > p {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin-top: 15px;
}

.events_blogs > div > div > div {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 25px;
    align-items: end;
}

.events_blogs > div > div > div > div:nth-of-type(1) {
    justify-self: start;
}

.events_blogs > div > div > div > div:nth-of-type(2) {
    justify-self: end;
}

.events_blogs > div > div > div > div > span {
    font-size: 1.35em;
    letter-spacing: 1px;
}